html {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}

body {
	margin: 10px;
	padding: 5px;
}

div#welcome {
	margin: auto;
	text-align: center;
	line-height: 2vh;
	padding-top: 5vh;
}

ul.navigation {
  list-style-type: none;
  margin: 0;
  padding: 5px;
  width: 100%;
  background-color: #f1f1f1;
  height: 2vh; 
  position: fixed; 
  top: 0;
  overflow: auto; 
}

ul.navigation > li {
  display: inline;
}


.thank-you-wrapper {
  z-index: -10;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 20vh;
  left: 0;
  right: 0;
}

.thank-you { 
  font-family: 'nimbus_sans_lbold', Arial, sans-serif; 
  margin: 0;
  line-height:90px;
  background:;
}

.single-stroke,
.double-stroke{
  font-size: 6em;
  color: #fff;
  text-align: center;
  text-shadow:  1px 1px #FF0000, 1px -1px #ff0000, -1px 1px #ff0000, -1px -1px #ff0000;
  -webkit-text-stroke: 1px #FF0000;
  position: relative;
  background: transparent;
  z-index: 0;
  letter-spacing: 4px;
}

.single-stroke::before,
.double-stroke::before,
.double-stroke::after {
  content: attr(title);
  position: absolute; 
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}


.single-stroke::before,
.double-stroke::before {
  z-index: -1;
  text-shadow:  2px 2px #FF0000, 2px -2px #ff0000, -2px 2px #ff0000, -2px -2px #ff0000;
  -webkit-text-stroke: 4px #FF0000; 
}

.double-stroke::after {
  z-index: -2;
  text-shadow:  2px 2px #FF0000, 2px -2px #ff0000, -2px 2px #ff0000, -2px -2px #ff0000;
  -webkit-text-stroke: 6px #FF0000;
}
