body {
	width: 1000px;
	background-color: green;

}
h1 {
	text-align: center;
	background-image: url(https://static.pexels.com/photos/65128/pexels-photo-65128.jpeg);
    background-position: 50% 10%;
    height: 75px;
    position: relative;
    left: 5%;
    right: 50%;
}
a {
	padding: 20px;
	color: orange;
}
div {
	position: relative;
	left: 25%;
	right: 25%;
}

#me {
	padding-top: 30px;
	text-align: inherit;
}

a:link {
	color: purple;
}
a:visited {
	color: blue
}

@media screen and (max-width: 500px) {
	div {
		border-radius: 10px;
		border: 20px solid white;
	}
}
