<head>
	<meta charset="UTF-8">
	<title>{{ page.title }}</title>
	<meta property="og:title" content="Jordan Muñoz">
	<meta property="og:description" content="A Portfolio Website">
	<meta property="og:image" content="http://euro-travel-example.com/thumbnail.jpg">
	<meta property="og:url" content="http://euro-travel-example.com/index.htm">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="shortcut icon" type="image/png" href="/favicon.png">
	
	{% if page.url == "/404.html" %}
	    <meta http-equiv="refresh" content="5; url=/">
	{% endif %}
	<link rel="stylesheet" href="/css/index_style.css" />
	<link rel="stylesheet" href="/css/stylesheet.css"  />			
	<link rel="stylesheet" href="/css/main.css"        />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script
	src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
	<!-- UIkit CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/css/uikit.min.css" />

	<!-- UIkit JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/js/uikit.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/js/uikit-icons.min.js"></script>

	<script src="/javascript/index.js"></script>
	
</head>