<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="/css/index_style.css" type="text/css">
		<link rel="stylesheet" href="/css/stylesheet.css"  type="text/css" />			
		<link rel="stylesheet" href="/css/main.css"           type="text/css" ">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script
	  src="https://code.jquery.com/jquery-3.3.1.min.js"
	  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	  crossorigin="anonymous"></script>
	  <script src="/javascript/index.js"></script>
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/cv">CV</a></li>
				<li><a href="/blog">Blog</a></li>
			</ul>
		</nav>
		<div class="container">

			{{ content }}
				
		</div><!-- /.container -->
		<footer>
			<ul>
				<li><a href="mailto:jordantmunoz@gmail.com">email</a></li>
				<li><a href="https://github.com/jtmunoz">github.com/jtmunoz</a></li>
			</ul>
		</footer>
	</body>
</html>