body {
	margin: 10px;
	padding: 5px;
}

div#welcome {
	margin: auto;
	text-align: center;
	line-height: 2vh;
	padding-top: 5vh;
}

ul.navigation {
  list-style-type: none;
  margin: 0;
  padding: 5px;
  width: 100%;
  background-color: #f1f1f1;
  height: 2vh; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

ul.navigation > li {
  display: inline;
}

.spacer {
  width: 100%;
  height: 95px;
}

p { font-family: 'nimbus_sans_lbold', Arial, sans-serif; }

.thank-you {
  font-size: 7em;
  color: white;
  text-align: center;
  -webkit-text-stroke: 2px #FF0000;
  z-index: 0;
  position: relative;
  background: transparent;
  letter-spacing: -6.5px;
}

.thank-you::before {
  -webkit-text-stroke: 6px #FF0000;
  z-index: -1;
  content: attr(title);
  position: absolute;
  /*left: 0;*/
  letter-spacing: -6.5px; 
  
}


.thank-you::after {
  -webkit-text-stroke: 7px #FF0000;
  z-index: -2;
  content: attr(title);
  position: absolute;   
  left: 139px;
  letter-spacing: -6.5px;
}